<p id="notice"><%= notice %></p>

<h1>Queue'd Items</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Number of Times Queued</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= link_to File.basename(attachment.file_url), "/uploads/#{current_user.id}/#{File.basename(attachment.file_url)}" %></td>
        <td><%= attachment.num_queue %></td>
        <td><%= link_to 'Add to Queue', "attachments/#{attachment.id}/queue", class:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attachment', new_attachment_path %>
