<!DOCTYPE html>
<html>
<head>
  <title>Pi Print :: <%= controller.controller_name.capitalize %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="header">
      <%= render 'partials/header' %>
    </div>
    <br />

    <div style="clear:both;"></div>
      <div id="body">
       
        <%= yield %>
      </div> <!-- end of body div -->

    <%= render 'partials/footer' %>
  </div><!-- end of wrap div -->
</body>
</html>
